<div>
  <cnt-flexy-view-adam-promo-header-wrapper-1_01
    [categories]="getPromoMenuItems()"
  ></cnt-flexy-view-adam-promo-header-wrapper-1_01>
  <cnt-flexy-view-adam-promo-intro-wrapper-1_01
    [payload]="getIntroBlock()"
  ></cnt-flexy-view-adam-promo-intro-wrapper-1_01>
  <cnt-flexy-view-adam-promo-hello-wrapper-1_01
    [payload]="getHelloBlockDescription()"
  ></cnt-flexy-view-adam-promo-hello-wrapper-1_01>
  <cnt-flexy-view-adam-promo-resume-wrapper-1_01
    [payload]="getResume()"
  ></cnt-flexy-view-adam-promo-resume-wrapper-1_01>
  <cnt-flexy-view-adam-promo-portfolio-wrapper-1_01
    [payload]="getPortfolio()"
  ></cnt-flexy-view-adam-promo-portfolio-wrapper-1_01>
  <cnt-flexy-view-adam-promo-footer-wrapper-1_01
    [categories]="getFooterBlock()"
  ></cnt-flexy-view-adam-promo-footer-wrapper-1_01>
</div>
